<div class="topnav">
  <img class=logo-img src="img/cyberview.png" alt="AVATAR">
  <a href="http://localhost:3000/home">Home</a>
  <a href="http://localhost:3000/employee">Employee</a>
  <a href="http://localhost:3000/attendance">Attendance</a>
  <a href="http://localhost:3000/benefit">Benefit</a>
  <a class="active" href="http://localhost:3000/calendar">Calendar</a>
  <a href="http://localhost:3000/medical">Medical Portal</a>
  <a href="http://localhost:3000/contracts">Contracts</a>
  <a href="http://localhost:3000/feedback">Feedback</a>
  <a href="http://localhost:3000/rewards">Rewards</a>
  <a href="logout">Log Out</a>
</div>

<div class="grid-container">
  <div>
    <div>
      <h1>Leaves</h1>
      <button class="button button1">Add</button>
      <button class="button button2">Edit</button>
      <br></br>
    </div>

    <table class="table table-sortable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Expiry Date</th>
          <th>Number of Leaves</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> </td>
          <td></td>
          <td></td>
          <td>Active</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Active</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <div>
      <h1>Leave Requests</h1>
      <button class="button button3">Approve</button>
      <button class="button button4">Decline</button>
      <br></br>
    </div>
    <table class="table table-sortable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Request date</th>
          <th>Number of Days</th>
          <th>Status</th>
          <th>MC</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < data.leaveRequests.length; i++) { %>
          <tr>
            <td><%= data.leaveRequests[i].name %></td>
            <td><%= data.leaveRequests[i].requestDate %></td>
            <td><%= data.leaveRequests[i].numberOfDays %></td>
            <td><%= data.leaveRequests[i].status %></td>
            <td><%= data.leaveRequests[i].mc %></td>
          </tr>
       <% } %>
      </tbody>
    </table>
  </div>

  <div>
    <div>
      <h1>Activities</h1>
      <button class="button button1">Add</button>
      <button class="button button2">Edit</button>
      <br></br>
    </div>

    <table class="table table-sortable">
      <thead>
        <tr>
          <th>Activity Name</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < data.calendar.length; i++) { %>
          <tr>
            <td><%= data.calendar[i].activity %></td>
            <td><%= data.calendar[i].date %></td>
            <td><%= data.calendar[i].time %></td>
          </tr>
       <% } %>
      </tbody>
    </table>
  </div>
</div>