<div class="topnav">
  <img class=logo-img src="img/cyberview.png" alt="AVATAR">
  <a href="http://localhost:3000/home">Home</a>
  <a href="http://localhost:3000/employee">Employee</a>
  <a href="http://localhost:3000/attendance">Attendance</a>
  <a class="active" href="http://localhost:3000/calendar">Calendar</a>
  <a href="http://localhost:3000/medical">Medical Portal</a>
  <a href="http://localhost:3000/contracts">Contracts</a>
  <a href="http://localhost:3000/feedback">Feedback</a>
  <a href="http://localhost:3000/rewards">Rewards</a>
  <a href="logout">Log Out</a>
</div>

<div class="grid-container">
  <%- include('partials/alert') %>
  <div>
    <div>
      <hr>
      <h1>Leaves</h1>
      <div class="dropdown">
        <form action="" class="search-form">
          <input type="search" id="search_cal_leave" class="search-input" />
          <i class="fa fa-search"></i>
        </form>
      </div>
      <br></br>
    </div>

    <table class="table table-sortable" id="page-cal-leave">
      <thead>
        <tr>
          <th>Name</th>
          <th>Expiry Date</th>
          <th>Number of Leaves</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="table_body_cal_leave">
        <% for(var i=0; i < data.leaveDays.length; i++) { %>
          <tr>
            <td>
              <%= data.leaveDays[i].name %>
            </td>
            <td>
              <%= data.leaveDays[i].expiryDate %>
            </td>
            <td>
              <%= data.leaveDays[i].numberOfLeaves %>
            </td>
            <td>
              <%= data.leaveDays[i].status %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <span id="nav_leave"></span>
  </div>
</div>

<div class="grid-container">
  <div>
    <hr>
    <h1>Leave Requests</h1>
    <div class="dropdown">
      <form action="" class="search-form">
        <input type="search" id="search_cal_lr" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>
    <br><br>
  </div>
  <table class="table table-sortable" id="page-cal-lr">
    <thead>
      <tr>
        <th>Name</th>
        <th>Request date</th>
        <th>Number of Days</th>
        <th>Status</th>
        <th>MC</th>
        <th>Approve/Deny</th>
      </tr>
    </thead>
    <tbody id="table_body_cal_lr">
      <% for(var i=0; i < data.leaveRequests.length; i++) { %>
        <tr>
          <td>
            <%= data.leaveRequests[i].name %>
          </td>
          <td>
            <%= data.leaveRequests[i].requestDate %>
          </td>
          <td>
            <%= data.leaveRequests[i].numberOfDays %>
          </td>
          <td>
            <%= data.leaveRequests[i].status %>
          </td>
          <td>
            <%= data.leaveRequests[i].mc %>
          </td>
          <% if (data.leaveRequests[i].status==="Pending" ) {%>
            <td>
              <div class="container-fluid">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <form action="/approveLeave" method="post">
                        <input type="text" name="id" value="<%= data.leaveRequests[i].id %>" hidden>
                        <input type="text" name="days" value="<%= data.leaveRequests[i].numberOfDays %>" hidden>
                        <input type="text" name="userid" value="<%= data.leaveRequests[i].userid %>" hidden>
                        <button class="button button3" type="submit">Approve</button>
                      </form>
                    </div>
                    <div class="col-sm">
                      <form action="/denyLeave" method="post">
                        <input type="text" name="id" value="<%= data.leaveRequests[i].id  %>" hidden>
                        <button class="button button3" type="submit">Deny</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <% }else{%>
              <td>
                Action Already Taken
              </td>
              <%} %>
        </tr>
        <% } %>
    </tbody>
  </table>
  <span id="nav_lr"></span>

</div>
<hr>
<div class="grid-container">
  <div>
    <h1>Activities</h1>

    <div class="dropdown">
      <button type="button" class="button button1" id="addactivity" data-toggle="modal"
        data-target="#exampleModal">Add</button>
        Edit <input class='toggleColumns' type="checkbox" data-target="column2" unchecked />
      <form action="" class="search-form">
        <input type="search" id="search_cal_act" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>



    <br></br>
  </div>

  <table class="table table-sortable" id="page-cal-act">
    <thead>
      <tr>
        <th class="column2" style="display:none">Edit</th>
        <th>Activity Name</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody id="table_body_cal_act">
      <% for(var i=0; i < data.calendar.length; i++) { %>
        <tr>
          <td class="column2" style="display:none"><button class="fa fa-pencil-square-o use-address"
            id="editInfo" data-toggle="modal" data-target="#exampleModal1" aria-hidden="true" style="color: blue; position:relative"></button></td>
            <td id="nx2" hidden><%= data.calendar[i].id %></td>
          <td>
            <%= data.calendar[i].activity %>
          </td>
          <td>
            <%= data.calendar[i].date %>
          </td>
          <td>
            <%= data.calendar[i].time %>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
  <span id="nav_act"></span>

  <hr>
</div>
</div>

<%- include('partials/addActivities') %>
<%- include('partials/editActivities') %>