<div class="topnav">
  <img class="logo-img" src="img/cyberview.png" alt="AVATAR" />
  <a href="http://localhost:3000/home">Home</a>
  <a class="active" href="http://localhost:3000/employee">Employee</a>
  <a href="http://localhost:3000/attendance">Attendance</a>
  <a href="http://localhost:3000/benefit">Benefit</a>
  <a href="http://localhost:3000/calendar">Calendar</a>
  <a href="http://localhost:3000/medical">Medical Portal</a>
  <a href="http://localhost:3000/contracts">Contracts</a>
  <a href="http://localhost:3000/feedback">Feedback</a>
  <a href="http://localhost:3000/rewards">Rewards</a>
  <a href="http://localhost:3000">Log Out</a>
</div>
<div class="grid-container">
  <div>
    <h1>Performance</h1>

    <div class="dropdown">
      <button class="button button1">Add</button>
      <button class="button button2">Edit</button>
      <form action="" class="search-form">
        <input type="search" id="search_p" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>
    <br />

    <table class="table table-sortable" id="pagination">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>

        </tr>
      </thead>
      <tbody id="table_body_p">
        <% for(var i=0; i < data.employeeProfile.length; i++) { %>
          <tr>
            <td>
              <%= data.employeeProfile[i].name %>
            </td>
            <td>
              <%= data.employeeProfile[i].category %>
            </td>
            <td>
              <%= data.employeeProfile[i].description %>
            </td>
            <td>
              <%= data.employeeProfile[i].date %>
            </td>

          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</div>
<div class="grid-container">
  <div>
    <h1>Personal Information</h1>

    <div class="dropdown">
      <button class="button button1">Add</button>
      <button class="button button2">Edit</button>
      <form action="" class="search-form">
        <input type="search" id="search_pi" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>
    <br />

    <table class="table table-sortable" id="pagination2">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Emergency Contact</th>
          <th>Joined Date</th>
        </tr>
      </thead>
      <tbody id="table_body_pi">
        <% for(var i=0; i < data.employeeResponse.length; i++) { %>
          <tr>
            <td>
              <%= data.employeeResponse[i].name %>
            </td>
            <td>
              <%= data.employeeResponse[i].contact %>
            </td>
            <td>
              <%= data.employeeResponse[i].email %>
            </td>
            <td>
              <%= data.employeeResponse[i].emergencyContact %>
            </td>
            <td>
              <%= data.employeeResponse[i].joinedDate %>
            </td>

          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</div>