<div class="topnav">
  <img class="logo-img" src="img/cyberview.png" alt="AVATAR" />
  <a href="https://cyber-view-web.herokuapp.com/home">Home</a>
  <a class="active" href="https://cyber-view-web.herokuapp.com/employee">Employee</a>
  <a href="https://cyber-view-web.herokuapp.com/attendance">Attendance</a>
  <a href="https://cyber-view-web.herokuapp.com/calendar">Calendar</a>
  <a href="https://cyber-view-web.herokuapp.com/medical">Medical Portal</a>
  <a href="https://cyber-view-web.herokuapp.com/contracts">Contracts</a>
  <a href="https://cyber-view-web.herokuapp.com/feedback">Feedback</a>
  <a href="https://cyber-view-web.herokuapp.com/rewards">Rewards</a>
  <a href="https://cyber-view-web.herokuapp.com/logout">Log Out</a>
</div>
<div class="grid-container">
  <%- include('partials/alert') %>
  <div>
    <h1>Performance</h1>

    <div class="dropdown">
      <button type="button" class="button button1" id="addperformance" data-toggle="modal"
        data-target="#performance">Add</button>
        Edit <input class='toggleColumns' type="checkbox" data-target="column1" unchecked />
      <form action="" class="search-form">
        <input type="search" id="search_p" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>
    <br />

    <table class="table table-sortable" id="page-p">
      <thead>
        <tr>
          <th class="column1" style="display:none">Edit</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>
          <th>Written By</th>
        </tr>
      </thead>
      <tbody id="table_body_p">
        <% for(var i=0; i < data.employeeProfile.length; i++) { %>
          <tr>
            <% if (data.employeeProfile[i].category !== "Review") {%>
            <td class="column1" style="display:none"><button class="fa fa-pencil-square-o use-address"
              id="editNewPerformance" data-toggle="modal" data-target="#editperformance" aria-hidden="true" style="color: blue; position:relative"></button></td>
              <% }else{%>
                <td class="column1" style="display:none"></td>
                <%} %>
              <td id="nx1" hidden><%= data.employeeProfile[i].id %></td>
            <td><%= data.employeeProfile[i].name %></td>
            <td><%= data.employeeProfile[i].category %></td>
            <td id="nx3"><%= data.employeeProfile[i].description %></td>
            <td><%= data.employeeProfile[i].date %></td>
            <td><%= data.employeeProfile[i].writtenBy %></td>
          </tr>
          <% } %>
      </tbody>

    </table>
    <span id="nav_p"></span>

  </div>
</div>
<div class="grid-container">
  <div>
    <h1>Personal Information</h1>

    <div class="dropdown">
      <button type="button" class="button button1" id="addinfo" data-toggle="modal"
        data-target="#register">Add New Employee</button>
        Edit <input class='toggleColumns' type="checkbox" data-target="column2" unchecked />
      <form action="" class="search-form">
        <input type="search" id="search_pi" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>
    <br />

    <table class="table table-sortable" id="page-pi">
      <thead>
        <tr>
          <th class="column2" style="display:none">Edit</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Emergency Contact</th>
          <th>Joined Date</th>
        </tr>
      </thead>
      <tbody id="table_body_pi">
        <% for(var i=0; i < data.employeeResponse.length; i++) { %>
          <% if (data.employeeResponse[i].verified === true) {%>
          <tr>
            <td class="column2" style="display:none"><button class="fa fa-pencil-square-o use-address"
              id="editInfo" data-toggle="modal" data-target="#editinfo" aria-hidden="true" style="color: blue; position:relative"></button></td>
              <td id="nx2" hidden><%= data.employeeResponse[i].id %></td>
            <td><%= data.employeeResponse[i].name %></td>
            <td id="nx4"><%= data.employeeResponse[i].contact %></td>
            <td id="nx5"><%= data.employeeResponse[i].email %></td>
            <td id="nx6"><%= data.employeeResponse[i].emergencyContact %></td>
            <td><%= data.employeeResponse[i].joinedDate %></td>

          </tr>
          <% } %>
          <% } %>
      </tbody>
    </table>
    <span id="nav_pi"></span>
  </div>
</div>

<%- include('partials/addNewPerformance') %>
  <%- include('partials/editNewPerformance') %>
    <%- include('partials/addNewInfo') %>
      <%- include('partials/editInfo') %>


        </div>