<div class="topnav">
  <img class=logo-img src="img/cyberview.png" alt="AVATAR">
  <a class="active" href="https://cyber-view-web.herokuapp.com/home">Home</a>
  <a href="https://cyber-view-web.herokuapp.com/employee">Employee</a>
  <a href="https://cyber-view-web.herokuapp.com/attendance">Attendance</a>
  <a href="https://cyber-view-web.herokuapp.com/calendar">Calendar</a>
  <a href="https://cyber-view-web.herokuapp.com/medical">Medical Portal</a>
  <a href="https://cyber-view-web.herokuapp.com/contracts">Contracts</a>
  <a href="https://cyber-view-web.herokuapp.com/feedback">Feedback</a>
  <a href="https://cyber-view-web.herokuapp.com/rewards">Rewards</a>
  <a href="https://cyber-view-web.herokuapp.com/logout">Log Out</a>

</div>

<div class="grid-container">

  <div>
    <div>
      <h1>Feed</h1>
      <div class="dropdown">
        <button type="button" class="button button1" id="addNewFeed" data-toggle="modal" data-target="#feed">Add</button>
        Edit <input class='toggleColumns' type="checkbox" data-target="column1" unchecked />
        <form action="" class="search-form">
          <input type="search" id="search_home" class="search-input" />
          <i class="fa fa-search"></i>
        </form>
      </div>
      <br></br>
    </div>

    <table class="table table-sortable" id="page-home">
      <thead>
        <tr>
          <th class="column1" style="display:none">Edit</th>
          <th>Feed Type</th>
          <th>Content</th>
          <th>Date</th>
          <th>Notify to ...</th>
        </tr>
      </thead>
      <tbody id="table_body_home">
        <% for(var i=0; i < data.feed.length; i++) { %>
            <td class="column1" style="display:none"><button class="fa fa-pencil-square-o use-address"
             id="editNewFeed" data-toggle="modal" data-target="#putfeed" aria-hidden="true" style="color: blue; position:relative"></button></td>
             <td id="nx1" hidden><%= data.feed[i].id %></td>
             <td id="nx2"><%= data.feed[i].feedType %></td>
             <td id="nx3"><%= data.feed[i].content %></td>
             <td><%= data.feed[i].createdAt %></td>
             <td><a href="/home" class= "whatever" data-toggle="popover" title="Available for ..." data-trigger="focus" data-content="<%- data.feed[i].namelist %>">Name List</a></td>
            </tr>
       <% } %>

      </tbody>

    </table>
    <span id="nav_home"></span>

  </div>
</div>

<%- include('partials/addNewFeed') %>
  <%- include('partials/editNewFeed') %>