<div class="topnav">
  <img class=logo-img src="img/cyberview.png" alt="AVATAR">
  <a href="http://localhost:3000/home">Home</a>
  <a href="http://localhost:3000/employee">Employee</a>
  <a href="http://localhost:3000/attendance">Attendance</a>
  <a href="http://localhost:3000/calendar">Calendar</a>
  <a class="active" href="http://localhost:3000/medical">Medical Portal</a>
  <a href="http://localhost:3000/contracts">Contracts</a>
  <a href="http://localhost:3000/feedback">Feedback</a>
  <a href="http://localhost:3000/rewards">Rewards</a>
  <a href="logout">Log Out</a>
</div>

<div class="grid-container">
  <div>
    <div>
      <h1>Medical Plan</h1>
      <div class="dropdown">
        <button type="button" class="button button1" id="addmedicplan" data-toggle="modal"
          data-target="#medicPlanModal">Add</button>
          Edit <input class='toggleColumns' type="checkbox" data-target="column1" unchecked />
        <form action="" class="search-form">
          <input type="search" id="search_medplan" class="search-input" />
          <i class="fa fa-search"></i>
        </form>
      </div>
      <br></br>
    </div>

    <table class="table table-sortable" id="page-medplan">
      <thead>
        <tr>
          <th class="column1" style="display:none">Edit</th>
          <th>Medical Plan</th>
          <th>Medical Card (Front)</th>
          <th>Medical Card (Back)</th>
          <th>Available For ...</th>
        </tr>
      </thead>
      <tbody id="table_body_medplan">
        <% for(var i=0; i < data.medicalPlan.length; i++) { %>
          <tr>
            <td>
              <%= data.medicalPlan[i].medicalPlanName %>
            </td>
            <td>
              <img style="width: 160px;" src="<%= data.medicalPlan[i].medicalCardFront.trim("./public") %>" alt="">
            </td>
            <td>
              <img style="width: 160px;" src="<%= data.medicalPlan[i].medicalCardBack.trim("./public") %>" alt="">
            </td>
            <td><a data-toggle="popover" title="Available for ..." data-content="<%= data.medicalPlan[i].name %>">Name
                List</a></td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <span id="nav_mp"></span>
  </div>
</div>

<div class="grid-container">
  <div>
    <h1>Medical Records</h1>
    <div class="dropdown">
      <form action="" class="search-form">
        <input type="search" id="search_medrec" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>
  </div>
  <br />
  <br />


  <table class="table table-sortable" id="page-medrec">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody id="table_body_medrec">
      <% for(var i=0; i < data.medicalLeave.length; i++) { %>
        <tr>
          <td><%= data.medicalLeave[i].name %></td>
          <td><%= data.medicalLeave[i].reason %></td>
          <td><%= data.medicalLeave[i].date %></td>
        </tr>
        <% } %>
    </tbody>
  </table>
  <span id="nav_mr"></span>
</div>


<div class="grid-container">
  <div>
    <h1>Clinic List</h1>
    <div class="dropdown">
      <button type="button" class="button button1" id="addClinic" data-toggle="modal"
        data-target="#clinicModal">Add</button>
        Edit <input class='toggleColumns' type="checkbox" data-target="column2" unchecked />
      <form action="" class="search-form">
        <input type="search" id="search_clist" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>
    <br></br>
  </div>

  <table class="table table-sortable" id="page-clist">
    <thead>
      <tr>
        <th class="column2" style="display:none">Edit</th>
        <th>Clinic</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Available For ...</th>
      </tr>
    </thead>
    <tbody id="table_body_clist">
      <% for(var i=0; i < data.clinicList.length; i++) { %>
        <tr>
          <td class="column2" style="display:none"><button class="fa fa-pencil-square-o use-address"
            id="editClinic" data-toggle="modal" data-target="#editclinic" aria-hidden="true" style="color: blue; position:relative"></button></td>
          <td id="nx5" hidden><%= data.clinicList[i].id %></td>
          <td id="nx6"><%= data.clinicList[i].clinicName %></td>
          <td id="nx7"><%= data.clinicList[i].latitude %></td>
          <td id="nx8"><%= data.clinicList[i].longitude %></td>
          <td><a href="/medical" class= "whatever" data-toggle="popover" title="Available for ..." data-trigger="focus" data-content="<%= data.clinicList[i].name %>">Name List</a></td>
        </tr>
        <% } %>
    </tbody>
  </table>
  <span id="nav_clist"></span>
</div>


<div class="grid-container">
  <div>
    <h1>Insurance Coverage</h1>
    <div class="dropdown">
      <button type="button" class="button button1" id="addInsurance" data-toggle="modal"
        data-target="#insuranceModal">Add</button>
        Edit <input class='toggleColumns' type="checkbox" data-target="column3" unchecked />
      <form action="" class="search-form">
        <input type="search" id="search_insurance" class="search-input" />
        <i class="fa fa-search"></i>
      </form>
    </div>
    <br></br>
  </div>

  <table class="table" id="page-insurance">
    <thead>
      <tr>
        <th class="column3" style="display:none">Edit</th>
        <th>Type of Insurance</th>
        <th>Description</th>
        <th>Contact Person</th>
        <th>Contact Number</th>
        <th>Available For...</th>
      </tr>
    </thead>
    <tbody id="table_body_ins">
      <% for(var i=0; i < data.insuranceCoverage.length; i++) { %>
        <tr>
          <td class="column3" style="display:none"><button class="fa fa-pencil-square-o use-address"
            id="editInsurance" data-toggle="modal" data-target="#editinsurance" aria-hidden="true" style="color: blue; position:relative"></button></td>
          <td id="nx9" hidden><%= data.insuranceCoverage[i].id %></td>
          <td id="nx10"><%= data.insuranceCoverage[i].typeofInsurance %></td>
          <td id="nx11"><%= data.insuranceCoverage[i].description %></td>
          <td id="nx12"><%= data.insuranceCoverage[i].contactPerson %></td>
          <td id="nx13"><%= data.insuranceCoverage[i].contactNumber %></td>
          <td><a href="/medical" class= "whatever" data-toggle="popover" title="Available for ..." data-trigger="focus" data-content="<%= data.insuranceCoverage[i].name %>">Name List</a></td>
        </tr>
        <% } %>
    </tbody>
  </table>
  <span id="nav_ins"></span>
</div>

<%- include('partials/addMedicPlan') %>
  <%- include('partials/editMedicPlan') %>
    <%- include('partials/addClinic') %>
      <%- include('partials/editClinic') %>
        <%- include('partials/addInsurance') %>
          <%- include('partials/editInsurance') %>
            <%- include('partials/medicalPlanList') %>